//@TODO  it appears none of this is used ??
.cropped-image-container {

  .background-rect {
    position: absolute;
    z-index: 1;
  }

  .base-image {
    position: absolute;
    z-index: 2;
  }

  .variable-image {
    position: absolute;
    z-index: 3;
  }

  .text-container {
    position: absolute;

    .text-overlay {
      z-index: 4;
      position: absolute;
    }
  }

}

.error-container {
  color: red;
  font-weight: 900;
}
